/***************
COLOR VARIABLES
***************/

// Light shades of blue
$aqua:  #B3E5FC;  // Lighter Aqua
$blue:  #1571cd;  // Slightly Darker Blue
$navy:  #29B6F6;  // Soft Navy
$teal:  #B2EBF2;  // Light Teal
$green: #A5D6A7;
$olive: #80CBC4;
$lime:  #B9F6CA;
// Warm
$yellow:  #FFF59D;
$orange:  #FFCC80;
$red:     #FFAB91;
$fuchsia: #F48FB1;
$purple:  #CE93D8;
$maroon:  #F06292;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;

// Updated color variables
$primary-color: $blue;
$secondary-color: $navy;
$tertiary-color: $teal;
$link-color: $primary-color;
$background-color: $primary-color;

$bad-color: $red; // Bad color for errors, validation etc.
$good-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for warnings
$subtle-color: $grey; // Subtle color for subtle text

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/

$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, serif;
